QPushButton {
  border: none;
  outline: none;
  width: 400px;
  height: 24px !important;
  background-color: #6c757d;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

/* QScrollArea {
  background-color: #e9ecef;
} */

QLabel {
  color: black;
  font-size: 16px;
  margin-bottom: -6px;
}

QLineEdit {
  color: black;
  font-size: 14px;
  margin-bottom: -2px;
  background-color: #ced4da;
  border-radius: 6px;
}

StockpileScrollArea {
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

ProductScrollArea {
  background-color: #f0f0f0;
  border: none;
  outline: none;
  border-left: 2px solid #6c757d;
  border-right: 2px solid #6c757d;
}

WorkerScrollArea {
  background-color: #f0f0f0;
  border: none;
  outline: none;
  border: 2px dashed #6c757d;
  border-radius: 8px;
}

Qlabel#product-title {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

QLabel#stockpile-title {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

QLabel#information-title {
  color: black;
  font-size: 32px;
  font-weight: bold;
}
